### mp4 videos
*.mp4

# mp2 files
*.mp2

# dts files
*.dts

# pcm files
*.pcm

# elf files
*.o
*.a
*.out
fshDecode

# tags
cscope*
tags
.tags

# swp
*.swp
*.swo

# screenlog
screenlog*

# chaos
audioList.txt
